# Ignore all files
*

# Designorar arquivos específicos
!.gitignore
!.p10k.zsh
!.zshrc

!.config/
!.config/nvim/
!.config/nvim/**
!.config/nushell/
!.config/nushell/**
!.config/warp-terminal/
!.config/warp-terminal/**
!.config/alacritty/
!.config/alacritty/**
